<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong> <br>
  <% if @laptop_brand.picture.attached? %>
    <%= image_tag @laptop_brand.picture %>
  <% end %> 
</p>

<p>
  <strong>Name:</strong>
  <%= @laptop_brand.name %>
</p>

<%= link_to 'Edit', edit_laptop_brand_path(@laptop_brand) %> |
<%= link_to 'Back', laptop_brands_path %>
