<h3>INFO</h3>
<ul>
  <li>SELLER STATUS: <%= @user.seller %></li>
</ul>

<h3> ACTIONS </H3>
<ul>
  <li><%= link_to "EDIT PROFILE", edit_user_registration_path %></li>
  <% if @user.seller == "false"%>
    <li><%= link_to 'REQUEST SELLER STATUS', user_path(user: {seller: "requested"}), method: :patch%></li>
  <% end %>
</ul>



<h3>LAPTOPS PURCHASED</h3>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>ID</th>
      <th>Seller</th>
      <th>Brand</th>
      <th>Grade</th>
      <th>Cpu</th>
      <th>Ram</th>
      <th>Hard drive</th>
      <th>Model</th>
      <th>Price</th>
      <th>Sold Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchased_laptops.each do |laptop| %>
      <tr>
        <td>
          <% if laptop.picture.attached? %>
            <%= image_tag laptop.picture, class: "laptop-image" %>
          <% else %>
            <div class="laptop-backup-image"></div>
          <% end %>
        </td>
        <td><%= laptop.id %></td>
        <td><%= laptop.user.name %></td>
        <td><%= laptop.laptop_brand.name %></td>
        <td><%= laptop.grade.name %></td>
        <td><%= laptop.cpu.name %></td>
        <td><%= laptop.ram.name %></td>
        <td><%= laptop.hard_drive.name %></td>
        <td><%= laptop.model %></td>
        <td><%= laptop.price %></td>
        <td><%= laptop.sold_status %></td>
        <td><%= link_to 'Show', laptop %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.seller == "true"%>

  <h3>LAPTOP LISTINGS</h3>

  <h5> - UNSOLD</h5>

  <table>
    <thead>
      <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Seller</th>
        <th>Brand</th>
        <th>Grade</th>
        <th>Cpu</th>
        <th>Ram</th>
        <th>Hard drive</th>
        <th>Model</th>
        <th>Price</th>
        <th>Sold Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |laptop| %>
        <% if laptop.sold_status == "false" %>
          <tr>
            <td>
              <% if laptop.picture.attached? %>
                <%= image_tag laptop.picture, class: "laptop-image" %>
              <% else %>
                <div class="laptop-backup-image"></div>
              <% end %>
            </td>
            <td><%= laptop.id %></td>
            <td><%= laptop.user.name %></td>
            <td><%= laptop.laptop_brand.name %></td>
            <td><%= laptop.grade.name %></td>
            <td><%= laptop.cpu.name %></td>
            <td><%= laptop.ram.name %></td>
            <td><%= laptop.hard_drive.name %></td>
            <td><%= laptop.model %></td>
            <td><%= laptop.price %></td>
            <td><%= laptop.sold_status %></td>
            <td><%= link_to 'Show', laptop %></td>
            <td><%= link_to 'Edit', edit_laptop_path(laptop) %></td>
            <td>
              <%= link_to 'Remove', laptop, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h5> - SOLD</h5>

  <table>
    <thead>
      <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Seller</th>
        <th>Brand</th>
        <th>Grade</th>
        <th>Cpu</th>
        <th>Ram</th>
        <th>Hard drive</th>
        <th>Model</th>
        <th>Price</th>
        <th>Sold Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |laptop| %>
        <% if laptop.sold_status == "true" %>
          <tr>
            <td>
              <% if laptop.picture.attached? %>
                <%= image_tag laptop.picture, class: "laptop-image" %>
              <% else %>
                <div class="laptop-backup-image"></div>
              <% end %>
            </td>
            <td><%= laptop.id %></td>
            <td><%= laptop.user.name %></td>
            <td><%= laptop.laptop_brand.name %></td>
            <td><%= laptop.grade.name %></td>
            <td><%= laptop.cpu.name %></td>
            <td><%= laptop.ram.name %></td>
            <td><%= laptop.hard_drive.name %></td>
            <td><%= laptop.model %></td>
            <td><%= laptop.price %></td>
            <td><%= laptop.sold_status %></td>
            <td><%= link_to 'Show', laptop %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% end %>



