<h1>ROOT INDEX</h1>

<%= link_to "USERS", users_path %>
<%= link_to "LAPTOPS", laptops_path %>
<%= link_to "LAPTOP ORDERS", laptop_orders_path %>
<%= link_to "BRANDS", laptop_brands_path %>
<%= link_to "CPUS", cpus_path %>
<%= link_to "RAMS", rams_path %>
<%= link_to "HARD_DRIVES", hard_drives_path %>