<%= form_with(model: laptop_order, local: true) do |form| %>
  <% if laptop_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laptop_order.errors.count, "error") %> prohibited this laptop_order from being saved:</h2>

      <ul>
        <% laptop_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :name, prompt: true) %>
  </div>

  <!-- GETS ALL LAPTOP REGARDLESS OF SOLD STATUS -->
  <!--
  <div class="field">
    <%= form.label :laptop_id %>
    <%= form.collection_select(:laptop_id, Laptop.all, :id, :model, prompt: true) %>
  </div> -->

  <!-- GETS ALL LAPTOPS THAT ARENT SOLD -->
  <div class="field">
    <%= form.label :laptop_id %>
    <%= form.collection_select(:laptop_id, Laptop.where(sold_status: 'false'), :id, :model, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
