

<h1>Laptop Orders</h1>

<table>
  <thead>
    <tr>
      <th>Purchased By</th>
      <th>Laptop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laptop_orders.each do |laptop_order| %>
      <tr>
        <td><%= User.find(laptop_order.user_id).name %></td>
        <td><%= Laptop.find(laptop_order.laptop_id).model %></td>
        <td><%= link_to 'Show', laptop_order %></td>
        <td><%= link_to 'Edit', edit_laptop_order_path(laptop_order) %></td>
        <td><%= link_to 'Destroy', laptop_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laptop Order', new_laptop_order_path %>
