<table>
  <thead>
    <tr>
      <th>Picture:</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td>
          <% if @laptop.picture.attached? %>
            <%= image_tag @laptop.picture, class: "laptop-image" %>
          <% else %>
            <div class="laptop-backup-image"></div>
          <% end %>
        </td>
      </tr>

  </tbody>
</table>

<p>
  <strong>Seller:</strong>
  <%= User.find(@laptop.user_id).name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= LaptopBrand.find(@laptop.laptop_brand_id).name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= Grade.find(@laptop.grade_id).name %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= Cpu.find(@laptop.cpu_id).name %>
</p>

<p>
  <strong>Ram:</strong>
  <%= Ram.find(@laptop.ram_id).name %>
</p>

<p>
  <strong>Hard drive:</strong>
  <%= HardDrive.find(@laptop.hard_drive_id).name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @laptop.model %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @laptop.price %>
</p>

<p>
  <strong>Sold status:</strong>
  <%= @laptop.sold_status %>
</p>

<% if @laptop.sold_status != "true" && @laptop.id == current_or_guest_user.id %>
  <%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<% end %>
<%= link_to 'Back', laptops_path %>
