

<p>
  <strong>Picture:</strong> <br>
  <% if @laptop.picture.attached? %>
    <%= image_tag @laptop.picture %>
  <% end %> 
</p>

<p>
  <strong>User:</strong>
  <%= @laptop.user_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @laptop.brand_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @laptop.grade_id %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @laptop.cpu_id %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @laptop.ram_id %>
</p>

<p>
  <strong>Hard drive:</strong>
  <%= @laptop.hard_drive_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @laptop.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laptop.price %>
</p>

<p>
  <strong>Sold status:</strong>
  <%= @laptop.sold_status %>
</p>

<% if @laptop.sold_status != "true" && @laptop.id == current_or_guest_user.id %>
  <%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<% end %>
<%= link_to 'Back', laptops_path %>
