<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @laptop.user_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @laptop.brand_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @laptop.grade_id %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @laptop.cpu_id %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @laptop.ram_id %>
</p>

<p>
  <strong>Hard drive:</strong>
  <%= @laptop.hard_drive_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @laptop.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laptop.price %>
</p>

<p>
  <strong>Sold status:</strong>
  <%= @laptop.sold_status %>
</p>

<%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<%= link_to 'Back', laptops_path %>
