<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">REFURBISHED LAPTOPS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> 
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href=<%= pages_path %>>HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= users_path %>>USERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= laptops_path %>>LAPTOPS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LAPTOP COMPONENTS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-item">
                <%= link_to "LAPTOP ORDERS", laptop_orders_path %>
              </div>

              <div class="dropdown-item">
              <%= link_to "BRANDS", laptop_brands_path %>
              </div>

              <div class="dropdown-item">
              <%= link_to "CPUS", cpus_path %>
              </div>

              <div class="dropdown-item">
              <%= link_to "RAMS", rams_path %>
              </div>

              <div class="dropdown-item">
              <%= link_to "HARD DRIVES", hard_drives_path %>
              </div>

              <%# <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a> %>
            </div>
          </li>
          <%# <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>